.channelContent{
    display: flex;
    margin-top: 4rem;
    margin-left: 13rem;
}
.channelimg{
    width: 78px !important;
    height: 95px !important;
    margin-top: 1rem;
}
.contentChannel{
    margin-left: 3rem;
}
.bottomPart{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
}
.channelCard{
    margin-right: 2rem;
    margin-top: 2rem;
}