.RelatedVideo{
    /* display: flex; */
    margin-left: 1.6rem;
    margin-top: 2rem;
    max-width: 500px;
}
.wholeCard{
    display: flex;
    margin-bottom: 2rem;
}
.wholeCard .css-o69gx8-MuiCardMedia-root {
    width: fit-content !important;
}
.RelatedContent{
    margin-left: 1rem;
}