.content{
    margin-left: 6rem;
    margin-top: 2rem;
    max-width: 880px;
}
.content p{
    /* padding: 0 30rem;
    margin-left: -30rem; */
    margin-top: 18px;
    text-align: justify;
}
.content span{
    margin-left: 2rem;
}
.content h3, .content h4{
    margin-top: 18px;
}
.content h3{
    display: flex;
    margin-left: 1rem;
}
.sptitle{
    margin-top: 8px;
    margin-left: 1rem;
}
.Mainpart{
    display: flex;
}