.firstLine,.like{
    display: flex;
}
.commContent{
    margin-left: 1rem;
}
.publishDate{
    margin-left: 1.5rem !important;
    margin-top: 6px !important;
}
.Comments{
    margin-top: 2rem;
    margin-left: 6rem;
    width: 32rem;
    display: flex;
}
.like{
    margin-top: 1rem;
}
.like span{
    margin-top: 4px;
    margin-right: 2rem;
    margin-left: 8px;
}
.MainCount{
    margin-left: 6rem !important;
    margin-top: 2rem !important;
}